body {
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-top: 60px;
    text-align: center;

}

h1,
h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    padding-left: 25%;
    padding-right: 25%;
    text-align: left;
    margin-top: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btinicio {
    border-bottom: 1px;
}

.edital {

    display: flex;

    align-items: center;

    justify-content: center;

}

img {

    margin-right: 10px;
    margin-left: 10px;
    border-right-width: 5px;

}

a {
    color: black;
}

a:link {
    text-decoration: black;
}

a:visited {
    text-decoration: black;
}

a:hover {
    text-decoration: underline;

}

a:active {
    text-decoration: underline;
}

input[type="checkbox"] {
    margin-right: 10px;
}

#progressbar {
    width: 100%;
    height: 40px;
    background-color: #eeeeeebd;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* Certifique-se de que a barra de progresso está sobreposta a outros elementos */
}

#progress {
    height: 100%;
    background-color: #4CAF50;
    width: 0;
}

#progress-text {
    color: white;
    font-weight: bold;
    padding-top: 10px;
}